<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <!-- DBA - Repositories : Start -->
   <bean id = "firstFacade" class = "com.firstmodule.app.facade.FirstFacade">
      <!-- collaborators and configuration for this bean go here -->
   </bean>
   <bean id = "secondFacade" class = "com.secondmodule.app.facade.SecondFacade">
      <!-- collaborators and configuration for this bean go here -->
   </bean>
   <bean id = "thirdFacade" class = "com.thirdmodule.app.facade.ThirdFacade">
      <!-- collaborators and configuration for this bean go here -->
   </bean>
</beans>