<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <!-- DBA - Repositories : Start -->
   <bean id = "accountRepository" class = "com.panasalbk.app.dba.AccountRepository">
      <!-- collaborators and configuration for this bean go here -->
   </bean>
   <bean id = "cardRepository" class = "com.panasalbk.app.dba.CardRepository">
      <!-- collaborators and configuration for this bean go here -->
   </bean>
   <bean id = "customerRepository" class = "com.panasalbk.app.dba.CustomerRepository">
      <!-- collaborators and configuration for this bean go here -->
   </bean>
   <bean id = "profileRepository" class = "com.panasalbk.app.dba.ProfilesRepository">
      <!-- collaborators and configuration for this bean go here -->
   </bean>
   <!-- DBA - Repositories : End -->
   
   <!-- A simple bean definition -->
   <bean id = "profileFacade" class = "com.panasalbk.app.facade.ProfileFacade">
      <!-- collaborators and configuration for this bean go here -->
   </bean>
   <bean id = "profileProvider" class = "com.panasalbk.app.provider.ProfileProvider">
   </bean>
   <bean id = "profileMapper" class = "com.panasalbk.app.mapper.ProfileMapper">
   </bean>
   
   <bean id = "authenticationProvider" class = "com.panasalbk.app.provider.AuthenticationProvider">
   </bean>
   <bean id = "authenticationFacade" class = "com.panasalbk.app.facade.AuthenticationFacade">
   </bean>
   <bean id = "authenticationMapper" class = "com.panasalbk.app.mapper.AuthenticationMapper">
   </bean>
   
   <bean id = "accountProvider" class = "com.panasalbk.app.provider.AccountProvider">
   </bean>
   <bean id = "accountFacade" class = "com.panasalbk.app.facade.AccountFacade">
   </bean>
   <bean id = "accountMapper" class = "com.panasalbk.app.mapper.AccountMapper">
   </bean>
   <bean id = "bankInfoMapper" class = "com.panasalbk.app.mapper.BankInfoMapper">
   </bean>
</beans>